# Домашнее задание по теме: пакет `pandas` (основная информация)

## Подготовка окружения

In [39]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

pip 20.3.3 from C:\Users\skovalchuk\.conda\envs\levelup_ds\lib\site-packages\pip (python 3.8)

In [40]:
!conda install pandas -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [41]:
import pandas as pd

pd.__version__

'1.2.3'

## Загрузка и изучение данных

In [42]:
wiki_page = "https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%8F%D0%B7%D1%8B%D0%BA%D0%BE%D0%B2_%D0%BF%D0%BE_%D0%BA%D0%BE%D0%BB%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D1%83_%D0%BD%D0%BE%D1%81%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%B9"

In [54]:
# прочитать данные из указанной wiki страницы с помощью `pandas`
# ВНИМАНИЕ: при чтении указать номер колонки с индексом = 0
df_info_list = pd.read_html(wiki_page, index_col=0)

In [55]:
# отобразить все прочитанные таблицы с веб-страницы
for index, df_from_page in enumerate(df_info_list):
    print(f"index = {index}")
    display(df_from_page)

index = 0

                         1
0
Состояние  отпатрулирована

index = 1

,Язык,Родной язык по версии Ethnologue[1],Основная страна,Количество стран
№,,,,
1,Китайский,1 296 461 000[2] — 1 311 000 000,Китай,39
2,Испанский,460 000 000,Испания,31
3,Английский,379 000 000,Великобритания,137
4,Хинди,341 000 000,Индия,4
5,Арабский,313 177 600[3] — 319 000 000,Саудовская Аравия,59
6,Бенгальский,228 000 000,Бангладеш,4
7,Португальский,221 000 000,Португалия,15
8,Русский,154 000 000,Россия,19
9,Японский,128 000 000,Япония,2
10,Лахнда (Западный панджаби),119 000 000,Пакистан,6
11,Маратхи,83 100 000,Индия,1
12,Телугу,82 000 000,Индия,2
13,Малайский,80 300 000,Малайзия,20
14,Турецкий,79 400 000,Турция,8
15,Корейский,77 300 000,Корея,6
16,Французский,77 200 000,Франция,54
17,Немецкий,76 100 000,Германия,28
18,Вьетнамский,76 000 000,Вьетнам,4
19,Тамильский,75 000 000,Индия,7
20,Урду,68 600 000,Пакистан,7
21,Яванский,68 300 000,Индонезия,3
22,Итальянский,64 800 000,Италия,14
23,Персидский,61 800 000,Иран,30
24,Гуджарати,56 400 000,Индия,7

index = 2

,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
№,,,,,
1,Китайский,1 212 560 000,Китай,"Китай, Тайвань, Сингапур, Малайзия","中文, 汉语"
2,Арабский,422 039 637,NaN,"страны Северной Африки, Саудовская Аравия, Ира...",العربية
3,Хинди,366 000 000,Индия,Индия,हिन्दी
4,Английский,341 000 000,Англия,"Великобритания, США, Канада, Австралия, Новая ...",English
5,Испанский,322 200 637,Испания,"Испания, Южная Америка (кроме Бразилии, Сурина...","Español, Castellano"
...,...,...,...,...,...
65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
66,Фула,11 428 700,Западная Африка,Западная Африка,"Pulaar, Fulfulde"
67,Дакхни[en],10 709 800,Индия,Индия,NaN
68,Малагасийский,10 484 000,Мадагаскар,Мадагаскар,Malagasy
69,Белорусский,10 200 000,Белоруссия,"Белоруссия, Польша",Беларуская мова

In [56]:
# получить dataframe с таблицей "Данные энциклопедии Encarta 2009 года"
df = df_info_list[2]
df

,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
№,,,,,
1,Китайский,1 212 560 000,Китай,"Китай, Тайвань, Сингапур, Малайзия","中文, 汉语"
2,Арабский,422 039 637,NaN,"страны Северной Африки, Саудовская Аравия, Ира...",العربية
3,Хинди,366 000 000,Индия,Индия,हिन्दी
4,Английский,341 000 000,Англия,"Великобритания, США, Канада, Австралия, Новая ...",English
5,Испанский,322 200 637,Испания,"Испания, Южная Америка (кроме Бразилии, Сурина...","Español, Castellano"
...,...,...,...,...,...
65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
66,Фула,11 428 700,Западная Африка,Западная Африка,"Pulaar, Fulfulde"
67,Дакхни[en],10 709 800,Индия,Индия,NaN
68,Малагасийский,10 484 000,Мадагаскар,Мадагаскар,Malagasy
69,Белорусский,10 200 000,Белоруссия,"Белоруссия, Польша",Беларуская мова

In [57]:
# сохранить dataframe с таблицей "Данные энциклопедии Encarta 2009 года" в csv

df.to_csv('Encarta_tmp.csv')

In [58]:
# вывести первые 20 строк
df.head(20)

,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
№,,,,,
1,Китайский,1 212 560 000,Китай,"Китай, Тайвань, Сингапур, Малайзия","中文, 汉语"
2,Арабский,422 039 637,NaN,"страны Северной Африки, Саудовская Аравия, Ира...",العربية
3,Хинди,366 000 000,Индия,Индия,हिन्दी
4,Английский,341 000 000,Англия,"Великобритания, США, Канада, Австралия, Новая ...",English
5,Испанский,322 200 637,Испания,"Испания, Южная Америка (кроме Бразилии, Сурина...","Español, Castellano"
6,Бенгальский,207 000 000,Бенгалия,"Бангладеш, Индия",বাংলা Bāṇlā
7,Португальский,176 000 000,Португалия,"Португалия, Ангола, Бразилия, Гвинея-Бисау, Ка...",Português
8,Русский,167 000 000,Россия,"Россия, Украина, Казахстан, Белоруссия, Литва,...",Русский язык
9,Японский,125 000 000,Япония,Япония,日本語
10,Немецкий,100 130 000,Германия,"Германия, Австрия, Швейцария, Люксембург, Лихт...",Deutsch
11,Корейский,78 000 000,Корея,"Республика Корея, КНДР, КНР, США, Япония","한국어, 조선말"
12,Французский,78 000 000,Франция,"Франция, Монако, Люксембург, Бельгия, Швейцари...",Français
13,Яванский,75 567 550,Индонезия,Индонезия,"Basa Jawa, Basa Jawi"
14,Телугу,69 666 000,Индия,Индия,తెలుగు
15,Маратхи,68 022 000,Индия,Индия,मराठी
16,Вьетнамский,68 000 000,Вьетнам,"Вьетнам, США, Камбоджа, Франция",Tiếng Việt
17,Тамильский,66 000 000,Индия,"Индия, Шри-Ланка, Сингапур, Малайзия",தமிழ்
18,Итальянский,62 000 000,Италия,"Италия, Сан-Марино, Ватикан, Швейцария (Тичино)",Italiano
19,Турецкий,61 000 000,Турция,"Турция, Германия, Болгария, Кипр",Türk dili (Türkçe)
20,Урду,60 290 000,Пакистан,"Пакистан, Индия","اردو, Urdu"

In [71]:
# вывести последние 7 строк
df.tail(7)

,Язык,Родной язык,Средоточие,Территории распространения,Самоназвание(образец письменности)
№,,,,,
63,Греческий,12000000,Греция,"Греция,Кипр",Ελληνικά
64,Чешский,12000000,Чехия,Чехия,"Čeština,Česky"
65,Чхаттисгархи,11535000,Индия,Индия,छत्तिसगढ़ी
66,Фула,11428700,ЗападнаяАфрика,ЗападнаяАфрика,"Pulaar,Fulfulde"
67,Дакхни[en],10709800,Индия,Индия,NaN
68,Малагасийский,10484000,Мадагаскар,Мадагаскар,Malagasy
69,Белорусский,10200000,Белоруссия,"Белоруссия,Польша",Беларускаямова

In [60]:
# вывести список индексов
df.index.tolist()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69]

In [61]:
# вывести список значений колонки Язык
df['Язык']

№
1         Китайский
2          Арабский
3             Хинди
4        Английский
5         Испанский
          ...
65     Чхаттисгархи
66             Фула
67       Дакхни[en]
68    Малагасийский
69      Белорусский
Name: Язык, Length: 68, dtype: object

In [62]:
# вывести список наименований колонок
df.columns.tolist()

['Язык',
 'Родной язык по версии Encarta[4]',
 'Средоточие',
 'Территории распространения',
 'Самоназвание(образец письменности)']

In [63]:
# вывести строку с индексом равным 68=Малагасийский
# (доступ по метке)
df.loc[66]

Язык                                              Фула
Родной язык по версии Encarta[4]            11 428 700
Средоточие                             Западная Африка
Территории распространения             Западная Африка
Самоназвание(образец письменности)    Pulaar, Fulfulde
Name: 66, dtype: object

In [64]:
# вывести строку с индексом равным 68=Малагасийский
# (доступ по числовому значению)
df.iloc[66]

Язык                                  Малагасийский
Родной язык по версии Encarta[4]         10 484 000
Средоточие                               Мадагаскар
Территории распространения               Мадагаскар
Самоназвание(образец письменности)         Malagasy
Name: 68, dtype: object

In [65]:
# вывести dataframe отфильтрованный по условию:
# значение колонки "Средоточие" == "Индия"
df[(df.Средоточие == "Индия")]

,Язык,Родной язык по версии Encarta[4],Средоточие,Территории распространения,Самоназвание(образец письменности)
№,,,,,
3,Хинди,366 000 000,Индия,Индия,हिन्दी
14,Телугу,69 666 000,Индия,Индия,తెలుగు
15,Маратхи,68 022 000,Индия,Индия,मराठी
17,Тамильский,66 000 000,Индия,"Индия, Шри-Ланка, Сингапур, Малайзия",தமிழ்
23,Гуджарати,46 100 000,Индия,Индия,ગુજરાતી
26,Малаялам,35 706 000,Индия,Индия,മലയാളം
27,Каннада,35 346 000,Индия,Индия,ಕನ್ನಡ
28,Ория,32 300 000,Индия,Индия,ଓଡ଼ିଆ
35,Бходжпури,26 254 000,Индия,Индия,भोजपुरी
37,Майтхили,24 191 900,Индия,Индия,मैथिली
40,Авадхи,20 540 000,Индия,Индия,अवधी
51,Ассамский,15 374 000,Индия,Индия,অসমিয়া
60,Марвари,13 183 000,Индия,Индия,मारवाड़ी
61,Магахи,13 000 000,Индия,Индия,मगही
62,Харьянви,13 000 000,Индия,Индия,हरियाणवी
65,Чхаттисгархи,11 535 000,Индия,Индия,छत्तिसगढ़ी
67,Дакхни[en],10 709 800,Индия,Индия,NaN

In [66]:
# вывести количество уникальных значений в колонке "Средоточие"
len(df['Средоточие'].unique())

41

In [67]:
# вывести все уникальные значения в колонке "Средоточие" (тип list)
df['Средоточие'].unique()

array(['Китай', nan, 'Индия', 'Англия', 'Испания', 'Бенгалия',
       'Португалия', 'Россия', 'Япония', 'Германия', 'Корея', 'Франция',
       'Индонезия', 'Вьетнам', 'Италия', 'Турция', 'Пакистан', 'Украина',
       'Таиланд', 'Польша', 'Мьянма', 'Азербайджан', 'Иран', 'Афганистан',
       'Румыния', 'Западная Африка', 'Сербия, Хорватия,', 'Узбекистан',
       'Нигерия', 'Нидерланды', 'Эфиопия', 'Филиппины', 'Непал',
       'Венгрия', 'Бангладеш', 'Зимбабве', 'Шри-Ланка', 'Греция', 'Чехия',
       'Мадагаскар', 'Белоруссия'], dtype=object)

In [68]:
# переименовать колонку "Родной язык по версии Encarta[4]" на "Родной язык"
df = df.rename(columns={'Родной язык по версии Encarta[4]': 'Родной язык'})
# вывести список наименований колонок в датафрейме
df.columns.tolist()

['Язык',
 'Родной язык',
 'Средоточие',
 'Территории распространения',
 'Самоназвание(образец письменности)']

In [69]:
# вывести минимальное значение из колонки "Родной язык"
df = df.replace(r'\s+','',regex=True)
df["Родной язык"] = pd.to_numeric(df["Родной язык"])

df['Родной язык'].min()

10200000

In [70]:
# вывести максимальное значение из колонки "Родной язык"
df['Родной язык'].max()

1212560000