# Домашнее задание по теме: пакеты `pandas` и `numpy` (типы данных)

## Подготовка окружения

In [3]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

pip 20.2.4 from G:\ProgramData\Anaconda3\lib\site-packages\pip (python 3.8)

In [4]:
# !conda install pandas numpy -y

In [5]:
import datetime

In [6]:
import numpy as np

np.__version__

'1.19.2'

In [7]:
import pandas as pd

pd.__version__

'1.1.3'

## Пакет `numpy`: типы данных

**Задача:**
- Преобразовать тип переменной `val` в другие типы (как указано в комментарии).
- Вывести результат преобразования.
- *Если результат преобразования непонятен, то разобраться самостоятельно (можно написать свои рассуждения в комментариях и преподаватель ответит при проверке) или попросить помощи у преподавателя.

**Пример:**

In [8]:
val = -1

print(f"type: {type(val)}\nvalue: {val}")

type: <class 'int'>
value: -1

In [13]:
# -> numpy.uint64
np.uint64(val)

18446744073709551487

**Задание (ДЗ):**

In [14]:
val = -129

print(f"type: {type(val)}\nvalue: {val}")

type: <class 'int'>
value: -129

In [22]:
# -> numpy.int8
val_n = np.int8(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.int8'>
value: 127

In [23]:
# -> numpy.int16
val_n = np.int16(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.int16'>
value: -129

In [26]:
# -> numpy.uint8
val_n = np.uint8(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.uint8'>
value: 127

In [27]:
# -> numpy.uint32
val_n = np.uint32(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.uint32'>
value: 4294967167

In [69]:
# -> numpy.float128
val_n = np.float64(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.float64'>
value: -129.0

In [29]:
# -> numpy.str_
val_n = np.str_(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.str_'>
value: -129

In [30]:
# -> numpy.bool_
val_n = np.bool_(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.bool_'>
value: True

**Задача:**
- Преобразовать тип переменной (массив) `arr` в другие типы (как указано в комментарии).
- Вывести результат преобразования.
- *Если результат преобразования непонятен, то разобраться самостоятельно (можно написать свои рассуждения в комментариях и преподаватель ответит при проверке) или попросить помощи у преподавателя.

**Пример:**

In [37]:
arr = np.array([-150, -120, 0, 120, 150])
print(f"type: {type(arr)}\nvalue: {arr}")

type: <class 'numpy.ndarray'>
value: [-150 -120    0  120  150]

In [38]:
# -> numpy.uint64
arr_n = arr.astype(np.uint64)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [18446744073709551466 18446744073709551496                    0
                  120                  150]

**Задание (ДЗ):**

In [73]:
# -> numpy.int8
arr_n = arr.astype(np.int8)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [ 106 -120    0  120 -106]

In [74]:
# -> numpy.str_
arr_n = arr.astype(np.str_)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: ['-150' '-120' '0' '120' '150']

In [75]:
# -> numpy.bool_
arr_n = arr.astype(np.bool_)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [ True  True False  True  True]

In [76]:
# -> numpy.uint8
arr_n = arr.astype(np.uint8)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [106 136   0 120 150]

## Пакет `Pandas`: типы данных

### Загрузка данных (Hotel booking demand)

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [77]:
# показать все столбцы
pd.options.display.max_columns = None

# загрузить датасет в pandas dataframe
df = pd.read_csv('hotel_bookings.csv', index_col=0)

# вывести первые 5 и последние 5 строк
df

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
hotel,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [78]:
# получить данные о датафрейме: список колонок, сколько ненулевых, типы колонок...
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119390 entries, Resort Hotel to City Hotel
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   is_canceled                     119390 non-null  int64
 1   lead_time                       119390 non-null  int64
 2   arrival_date_year               119390 non-null  int64
 3   arrival_date_month              119390 non-null  object
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  meal                            119390 non-null  object
 12  country                         118902 non-null  object
 13  market_segment                  119390 non-null  object
 14  distribution_channel            119390 non-null  object
 15  is_repeated_guest               119390 non-null  int64
 16  previous_cancellations          119390 non-null  int64
 17  previous_bookings_not_canceled  119390 non-null  int64
 18  reserved_room_type              119390 non-null  object
 19  assigned_room_type              119390 non-null  object
 20  booking_changes                 119390 non-null  int64
 21  deposit_type                    119390 non-null  object
 22  agent                           103050 non-null  float64
 23  company                         6797 non-null    float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(11)
memory usage: 29.1+ MB

### Категориальные данные

In [79]:
# сколько байт занимает столбец meal (до преобразования)
df.meal.nbytes

955120

In [80]:
# преобразовать тип столбца meal в category
df['meal'] = df['meal'].astype('category')
                  
# вывести значения столбца meal
df['meal']

hotel
Resort Hotel    BB
Resort Hotel    BB
Resort Hotel    BB
Resort Hotel    BB
Resort Hotel    BB
                ..
City Hotel      BB
City Hotel      BB
City Hotel      BB
City Hotel      BB
City Hotel      HB
Name: meal, Length: 119390, dtype: category
Categories (5, object): ['BB', 'FB', 'HB', 'SC', 'Undefined']

In [81]:
# вывести все уникальные значения колнки meal (тип list)
df.meal.unique().tolist()

['BB', 'FB', 'HB', 'SC', 'Undefined']

In [82]:
# установить порядок для категорий meal
# (['Undefined', 'SC', 'BB', 'HB', 'FB'])

df.meal.cat.set_categories(['Undefined', 'SC', 'BB', 'HB', 'FB'], ordered=True)

hotel
Resort Hotel    BB
Resort Hotel    BB
Resort Hotel    BB
Resort Hotel    BB
Resort Hotel    BB
                ..
City Hotel      BB
City Hotel      BB
City Hotel      BB
City Hotel      BB
City Hotel      HB
Name: meal, Length: 119390, dtype: category
Categories (5, object): ['Undefined' < 'SC' < 'BB' < 'HB' < 'FB']

In [83]:
# сколько байт занимает столбец meal (после преобразования)
df.meal.nbytes

119430

### Разреженные структуры данных

In [84]:
# сколько байт занимает столбец company (до преобразования)
df.company.nbytes

955120

In [87]:
# преобразовать тип столбца company в SparseArray
df.company = df.company.astype('Sparse') 
# вывести значения столбца meal
df.company

hotel
Resort Hotel   NaN
Resort Hotel   NaN
Resort Hotel   NaN
Resort Hotel   NaN
Resort Hotel   NaN
                ..
City Hotel     NaN
City Hotel     NaN
City Hotel     NaN
City Hotel     NaN
City Hotel     NaN
Name: company, Length: 119390, dtype: Sparse[float64, nan]

In [91]:
# сколько байт занимает столбец company (после преобразования)
df.company.nbytes

81564

In [93]:
# плотность (% значений, которые не были "сжаты") для столбца company
sdf = df.company.astype(pd.SparseDtype("float", np.nan))
display(sdf)

print("\nsdf.dtypes =", sdf.dtypes)

# плотность (% значений, которые не были "сжаты")
print("\nsdf.sparse.density =", sdf.sparse.density)

hotel
Resort Hotel   NaN
Resort Hotel   NaN
Resort Hotel   NaN
Resort Hotel   NaN
Resort Hotel   NaN
                ..
City Hotel     NaN
City Hotel     NaN
City Hotel     NaN
City Hotel     NaN
City Hotel     NaN
Name: company, Length: 119390, dtype: Sparse[float64, nan]

sdf.dtypes = Sparse[float64, nan]

sdf.sparse.density = 0.056931066253455065

In [94]:
# получить данные о датафрейме (проверить, что тип колонок изменился)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119390 entries, Resort Hotel to City Hotel
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   is_canceled                     119390 non-null  int64
 1   lead_time                       119390 non-null  int64
 2   arrival_date_year               119390 non-null  int64
 3   arrival_date_month              119390 non-null  object
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  meal                            119390 non-null  category
 12  country                         118902 non-null  object
 13  market_segment                  119390 non-null  object
 14  distribution_channel            119390 non-null  object
 15  is_repeated_guest               119390 non-null  int64
 16  previous_cancellations          119390 non-null  int64
 17  previous_bookings_not_canceled  119390 non-null  int64
 18  reserved_room_type              119390 non-null  object
 19  assigned_room_type              119390 non-null  object
 20  booking_changes                 119390 non-null  int64
 21  deposit_type                    119390 non-null  object
 22  agent                           103050 non-null  float64
 23  company                         6797 non-null    Sparse[float64, nan]
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: Sparse[float64, nan](1), category(1), float64(3), int64(16), object(10)
memory usage: 30.0+ MB

### Интервальный индекс

In [95]:
# вывести все уникальные значения столбца lead_time
df.lead_time.unique

<bound method Series.unique of hotel
Resort Hotel    342
Resort Hotel    737
Resort Hotel      7
Resort Hotel     13
Resort Hotel     14
               ...
City Hotel       23
City Hotel      102
City Hotel       34
City Hotel      109
City Hotel      205
Name: lead_time, Length: 119390, dtype: int64>

In [97]:
# вывести минимальное значение столбца lead_time
df.lead_time.min()

0

In [98]:
# вывести максимальное значение столбца lead_time
df.lead_time.max()

737

In [114]:
# используя функцию qcut разбить значения в стобце lead_time на 4 квантили
c = pd.qcut(df.lead_time, q=4)
# вывести результат
c

hotel
Resort Hotel    (160.0, 737.0]
Resort Hotel    (160.0, 737.0]
Resort Hotel    (-0.001, 18.0]
Resort Hotel    (-0.001, 18.0]
Resort Hotel    (-0.001, 18.0]
                     ...
City Hotel        (18.0, 69.0]
City Hotel       (69.0, 160.0]
City Hotel        (18.0, 69.0]
City Hotel       (69.0, 160.0]
City Hotel      (160.0, 737.0]
Name: lead_time, Length: 119390, dtype: category
Categories (4, interval[float64]): [(-0.001, 18.0] < (18.0, 69.0] < (69.0, 160.0] < (160.0, 737.0]]

In [113]:
# получить тип результата функции qcut
type(c)

pandas.core.series.Series

In [101]:
# получить список категории
c.categories

AttributeError: 'Series' object has no attribute 'categories'

In [115]:
# число вхождений в каждый бин (интевал)
pd.value_counts(c)

(-0.001, 18.0]    30260
(160.0, 737.0]    29822
(69.0, 160.0]     29669
(18.0, 69.0]      29639
Name: lead_time, dtype: int64

### Обработка часовых поясов

In [116]:
# вывести значения столбца reservation_status_date
# обратить внимание на dtype
df.reservation_status_date

hotel
Resort Hotel    2015-07-01
Resort Hotel    2015-07-01
Resort Hotel    2015-07-02
Resort Hotel    2015-07-02
Resort Hotel    2015-07-03
                   ...
City Hotel      2017-09-06
City Hotel      2017-09-07
City Hotel      2017-09-07
City Hotel      2017-09-07
City Hotel      2017-09-07
Name: reservation_status_date, Length: 119390, dtype: object

In [117]:
# конвертировать тип столбца reservation_status_date (object -> datetime64)
df.reservation_status_date = df.reservation_status_date.astype('datetime64')

In [118]:
# вывести значения столбца reservation_status_date
# обратить внимание на dtype
df.reservation_status_date

hotel
Resort Hotel   2015-07-01
Resort Hotel   2015-07-01
Resort Hotel   2015-07-02
Resort Hotel   2015-07-02
Resort Hotel   2015-07-03
                  ...
City Hotel     2017-09-06
City Hotel     2017-09-07
City Hotel     2017-09-07
City Hotel     2017-09-07
City Hotel     2017-09-07
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [119]:
# установить стандарт UTC для столбца reservation_status_date
# обратить внимание на dtype
df.reservation_status_date = df.reservation_status_date.dt.tz_localize("UTC")
# отобразить столбец reservation_status_date
df.reservation_status_date

hotel
Resort Hotel   2015-07-01 00:00:00+00:00
Resort Hotel   2015-07-01 00:00:00+00:00
Resort Hotel   2015-07-02 00:00:00+00:00
Resort Hotel   2015-07-02 00:00:00+00:00
Resort Hotel   2015-07-03 00:00:00+00:00
                          ...
City Hotel     2017-09-06 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns, UTC]

In [122]:
# изменить часовой пояс столбца reservation_status_date на "Africa/Lome"
# обратить внимание на dtype
df.reservation_status_date = df.reservation_status_date.dt.tz_convert("Africa/Lome")
# отобразить столбец reservation_status_date
df.reservation_status_date

hotel
Resort Hotel   2015-07-01 00:00:00+00:00
Resort Hotel   2015-07-01 00:00:00+00:00
Resort Hotel   2015-07-02 00:00:00+00:00
Resort Hotel   2015-07-02 00:00:00+00:00
Resort Hotel   2015-07-03 00:00:00+00:00
                          ...
City Hotel     2017-09-06 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
City Hotel     2017-09-07 00:00:00+00:00
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns, Africa/Lome]

In [123]:
# добавить к каждой дате столбца reservation_status_date 30 дней и 5 часов
df.reservation_status_date = df.reservation_status_date + pd.Timedelta("30 day 5 hours")
df.reservation_status_date

hotel
Resort Hotel   2015-07-31 05:00:00+00:00
Resort Hotel   2015-07-31 05:00:00+00:00
Resort Hotel   2015-08-01 05:00:00+00:00
Resort Hotel   2015-08-01 05:00:00+00:00
Resort Hotel   2015-08-02 05:00:00+00:00
                          ...
City Hotel     2017-10-06 05:00:00+00:00
City Hotel     2017-10-07 05:00:00+00:00
City Hotel     2017-10-07 05:00:00+00:00
City Hotel     2017-10-07 05:00:00+00:00
City Hotel     2017-10-07 05:00:00+00:00
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns, Africa/Lome]

### Представление промежутка времени

In [125]:
# добавить столбец reservation_status_date_period datetime64 -> period[min]
# UserWarning: Converting to PeriodArray/Index representation will drop timezone information. - это норма :)
df['reservation_status_date_period'] = df.reservation_status_date .dt.to_period("min")
# отобразить столбец reservation_status_date_period
df.reservation_status_date_period

hotel
Resort Hotel    2015-07-31 05:00
Resort Hotel    2015-07-31 05:00
Resort Hotel    2015-08-01 05:00
Resort Hotel    2015-08-01 05:00
Resort Hotel    2015-08-02 05:00
                      ...
City Hotel      2017-10-06 05:00
City Hotel      2017-10-07 05:00
City Hotel      2017-10-07 05:00
City Hotel      2017-10-07 05:00
City Hotel      2017-10-07 05:00
Name: reservation_status_date_period, Length: 119390, dtype: period[T]

In [126]:
# обавить 4 часа к каждому элементу столбца reservation_status_date_period
df.reservation_status_date_period = df.reservation_status_date_period + pd.Timedelta("4 hours")
# отобразить столбец reservation_status_date_period
df.reservation_status_date_period

hotel
Resort Hotel    2015-07-31 09:00
Resort Hotel    2015-07-31 09:00
Resort Hotel    2015-08-01 09:00
Resort Hotel    2015-08-01 09:00
Resort Hotel    2015-08-02 09:00
                      ...
City Hotel      2017-10-06 09:00
City Hotel      2017-10-07 09:00
City Hotel      2017-10-07 09:00
City Hotel      2017-10-07 09:00
City Hotel      2017-10-07 09:00
Name: reservation_status_date_period, Length: 119390, dtype: period[T]

In [127]:
# обавить timedelta равную 55 минут к каждому элементу столбца reservation_status_date_period
df.reservation_status_date_period = df.reservation_status_date_period + pd.Timedelta("55 minutes")
# отобразить столбец reservation_status_date_period
df.reservation_status_date_period

hotel
Resort Hotel    2015-07-31 09:55
Resort Hotel    2015-07-31 09:55
Resort Hotel    2015-08-01 09:55
Resort Hotel    2015-08-01 09:55
Resort Hotel    2015-08-02 09:55
                      ...
City Hotel      2017-10-06 09:55
City Hotel      2017-10-07 09:55
City Hotel      2017-10-07 09:55
City Hotel      2017-10-07 09:55
City Hotel      2017-10-07 09:55
Name: reservation_status_date_period, Length: 119390, dtype: period[T]