# Домашнее задание по теме: пакеты `pandas` и `numpy` (типы данных)

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

pip 20.3.3 from C:\Users\skovalchuk\.conda\envs\levelup_ds\lib\site-packages\pip (python 3.8)

In [2]:
# !conda install pandas numpy -y

In [3]:
import datetime

In [4]:
import numpy as np

np.__version__

'1.19.2'

In [5]:
import pandas as pd

pd.__version__

'1.2.3'

## Пакет `numpy`: типы данных

**Задача:**
- Преобразовать тип переменной `val` в другие типы (как указано в комментарии).
- Вывести результат преобразования.
- *Если результат преобразования непонятен, то разобраться самостоятельно (можно написать свои рассуждения в комментариях и преподаватель ответит при проверке) или попросить помощи у преподавателя.

**Пример:**

In [6]:
val = -1

print(f"type: {type(val)}\nvalue: {val}")

type: <class 'int'>
value: -1

In [7]:
# -> numpy.uint64
np.uint64(val)

18446744073709551615

**Задание (ДЗ):**

In [8]:
val = -129

print(f"type: {type(val)}\nvalue: {val}")

type: <class 'int'>
value: -129

In [9]:
# -> numpy.int8
val_n = np.int8(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.int8'>
value: 127

In [10]:
# -> numpy.int16
val_n = np.int16(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.int16'>
value: -129

In [11]:
# -> numpy.uint8
val_n = np.uint8(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.uint8'>
value: 127

In [12]:
# -> numpy.uint32
val_n = np.uint32(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.uint32'>
value: 4294967167

In [13]:
# -> numpy.float128
val_n = np.float64(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.float64'>
value: -129.0

In [14]:
# -> numpy.str_
val_n = np.str_(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.str_'>
value: -129

In [15]:
# -> numpy.bool_
val_n = np.bool_(val)

print(f"type: {type(val_n)}\nvalue: {val_n}")

type: <class 'numpy.bool_'>
value: True

**Задача:**
- Преобразовать тип переменной (массив) `arr` в другие типы (как указано в комментарии).
- Вывести результат преобразования.
- *Если результат преобразования непонятен, то разобраться самостоятельно (можно написать свои рассуждения в комментариях и преподаватель ответит при проверке) или попросить помощи у преподавателя.

**Пример:**

In [16]:
arr = np.array([-150, -120, 0, 120, 150])
print(f"type: {type(arr)}\nvalue: {arr}")

type: <class 'numpy.ndarray'>
value: [-150 -120    0  120  150]

In [17]:
# -> numpy.uint64
arr_n = arr.astype(np.uint64)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [18446744073709551466 18446744073709551496                    0
                  120                  150]

**Задание (ДЗ):**

In [18]:
# -> numpy.int8
arr_n = arr.astype(np.int8)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [ 106 -120    0  120 -106]

In [19]:
# -> numpy.str_
arr_n = arr.astype(np.str_)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: ['-150' '-120' '0' '120' '150']

In [20]:
# -> numpy.bool_
arr_n = arr.astype(np.bool_)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [ True  True False  True  True]

In [21]:
# -> numpy.uint8
arr_n = arr.astype(np.uint8)

print(f"type: {type(arr_n)}\nvalue: {arr_n}")

type: <class 'numpy.ndarray'>
value: [106 136   0 120 150]

## Пакет `Pandas`: типы данных

### Загрузка данных (Hotel booking demand)

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [22]:
# показать все столбцы
pd.options.display.max_columns = None

# загрузить датасет в pandas dataframe
df = pd.read_csv('hotel_bookings.csv')

# вывести первые 5 и последние 5 строк
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [23]:
# получить данные о датафрейме: список колонок, сколько ненулевых, типы колонок...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Категориальные данные

In [24]:
# сколько байт занимает столбец meal (до преобразования)
df.meal.nbytes

955120

In [25]:
# преобразовать тип столбца meal в category
df['meal'] = df['meal'].astype('category')
                  
# вывести значения столбца meal
df['meal']

0         BB
1         BB
2         BB
3         BB
4         BB
          ..
119385    BB
119386    BB
119387    BB
119388    BB
119389    HB
Name: meal, Length: 119390, dtype: category
Categories (5, object): ['BB', 'FB', 'HB', 'SC', 'Undefined']

In [26]:
# вывести все уникальные значения колнки meal (тип list)
df.meal.unique().tolist()

['BB', 'FB', 'HB', 'SC', 'Undefined']

In [27]:
# установить порядок для категорий meal
# (['Undefined', 'SC', 'BB', 'HB', 'FB'])

df.meal.cat.set_categories(['Undefined', 'SC', 'BB', 'HB', 'FB'], ordered=True)

0         BB
1         BB
2         BB
3         BB
4         BB
          ..
119385    BB
119386    BB
119387    BB
119388    BB
119389    HB
Name: meal, Length: 119390, dtype: category
Categories (5, object): ['Undefined' < 'SC' < 'BB' < 'HB' < 'FB']

In [28]:
# сколько байт занимает столбец meal (после преобразования)
df.meal.nbytes

119430

### Разреженные структуры данных

In [29]:
# сколько байт занимает столбец company (до преобразования)
df.company.nbytes

955120

In [30]:
# преобразовать тип столбца company в SparseArray
df.company = df.company.astype('Sparse') 
# вывести значения столбца meal
df.company

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
119385   NaN
119386   NaN
119387   NaN
119388   NaN
119389   NaN
Name: company, Length: 119390, dtype: Sparse[float64, nan]

In [31]:
# сколько байт занимает столбец company (после преобразования)
df.company.nbytes

81564

In [32]:
# плотность (% значений, которые не были "сжаты") для столбца company
sdf = df.company.astype(pd.SparseDtype("float", np.nan))
display(sdf)

print("\nsdf.dtypes =", sdf.dtypes)

# плотность (% значений, которые не были "сжаты")
print("\nsdf.sparse.density =", sdf.sparse.density)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
119385   NaN
119386   NaN
119387   NaN
119388   NaN
119389   NaN
Name: company, Length: 119390, dtype: Sparse[float64, nan]

sdf.dtypes = Sparse[float64, nan]

sdf.sparse.density = 0.056931066253455065

In [33]:
# получить данные о датафрейме (проверить, что тип колонок изменился)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  category
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    Sparse[float64, nan]
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: Sparse[float64, nan](1), category(1), float64(3), int64(16), object(11)
memory usage: 27.5+ MB

### Интервальный индекс

In [34]:
# вывести все уникальные значения столбца lead_time
df.lead_time.unique

<bound method Series.unique of 0         342
1         737
2           7
3          13
4          14
         ...
119385     23
119386    102
119387     34
119388    109
119389    205
Name: lead_time, Length: 119390, dtype: int64>

In [35]:
# вывести минимальное значение столбца lead_time
df.lead_time.min()

0

In [36]:
# вывести максимальное значение столбца lead_time
df.lead_time.max()

737

In [37]:
# используя функцию qcut разбить значения в стобце lead_time на 4 квантили
lead_time_intervals = pd.qcut(df.lead_time, q = 4)

# вывести результат
lead_time_intervals

0         (160.0, 737.0]
1         (160.0, 737.0]
2         (-0.001, 18.0]
3         (-0.001, 18.0]
4         (-0.001, 18.0]
               ...
119385      (18.0, 69.0]
119386     (69.0, 160.0]
119387      (18.0, 69.0]
119388     (69.0, 160.0]
119389    (160.0, 737.0]
Name: lead_time, Length: 119390, dtype: category
Categories (4, interval[float64]): [(-0.001, 18.0] < (18.0, 69.0] < (69.0, 160.0] < (160.0, 737.0]]

In [38]:
# получить тип результата функции qcut
type(lead_time_intervals)

pandas.core.series.Series

In [39]:
# получить список категории
lead_time_intervals.cat.categories

IntervalIndex([(-0.001, 18.0], (18.0, 69.0], (69.0, 160.0], (160.0, 737.0]],
              closed='right',
              dtype='interval[float64]')

In [40]:
# число вхождений в каждый бин (интевал)
pd.value_counts(lead_time_intervals)

(-0.001, 18.0]    30260
(160.0, 737.0]    29822
(69.0, 160.0]     29669
(18.0, 69.0]      29639
Name: lead_time, dtype: int64

### Обработка часовых поясов

In [41]:
# вывести значения столбца reservation_status_date
# обратить внимание на dtype
df.reservation_status_date

0         2015-07-01
1         2015-07-01
2         2015-07-02
3         2015-07-02
4         2015-07-03
             ...
119385    2017-09-06
119386    2017-09-07
119387    2017-09-07
119388    2017-09-07
119389    2017-09-07
Name: reservation_status_date, Length: 119390, dtype: object

In [42]:
# конвертировать тип столбца reservation_status_date (object -> datetime64)
df.reservation_status_date = df.reservation_status_date.astype('datetime64')

In [43]:
# вывести значения столбца reservation_status_date
# обратить внимание на dtype
df.reservation_status_date

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [44]:
# установить стандарт UTC для столбца reservation_status_date
# обратить внимание на dtype
df.reservation_status_date = df.reservation_status_date.dt.tz_localize("UTC")
# отобразить столбец reservation_status_date
df.reservation_status_date

0        2015-07-01 00:00:00+00:00
1        2015-07-01 00:00:00+00:00
2        2015-07-02 00:00:00+00:00
3        2015-07-02 00:00:00+00:00
4        2015-07-03 00:00:00+00:00
                    ...
119385   2017-09-06 00:00:00+00:00
119386   2017-09-07 00:00:00+00:00
119387   2017-09-07 00:00:00+00:00
119388   2017-09-07 00:00:00+00:00
119389   2017-09-07 00:00:00+00:00
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns, UTC]

In [45]:
# изменить часовой пояс столбца reservation_status_date на "Africa/Lome"
# обратить внимание на dtype
df.reservation_status_date = df.reservation_status_date.dt.tz_convert("Africa/Lome")
# отобразить столбец reservation_status_date
df.reservation_status_date

0        2015-07-01 00:00:00+00:00
1        2015-07-01 00:00:00+00:00
2        2015-07-02 00:00:00+00:00
3        2015-07-02 00:00:00+00:00
4        2015-07-03 00:00:00+00:00
                    ...
119385   2017-09-06 00:00:00+00:00
119386   2017-09-07 00:00:00+00:00
119387   2017-09-07 00:00:00+00:00
119388   2017-09-07 00:00:00+00:00
119389   2017-09-07 00:00:00+00:00
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns, Africa/Lome]

In [46]:
# добавить к каждой дате столбца reservation_status_date 30 дней и 5 часов
df.reservation_status_date = df.reservation_status_date + pd.Timedelta("30 day 5 hours")
df.reservation_status_date

0        2015-07-31 05:00:00+00:00
1        2015-07-31 05:00:00+00:00
2        2015-08-01 05:00:00+00:00
3        2015-08-01 05:00:00+00:00
4        2015-08-02 05:00:00+00:00
                    ...
119385   2017-10-06 05:00:00+00:00
119386   2017-10-07 05:00:00+00:00
119387   2017-10-07 05:00:00+00:00
119388   2017-10-07 05:00:00+00:00
119389   2017-10-07 05:00:00+00:00
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns, Africa/Lome]

### Представление промежутка времени

In [47]:
# добавить столбец reservation_status_date_period datetime64 -> period[min]
# UserWarning: Converting to PeriodArray/Index representation will drop timezone information. - это норма :)
df['reservation_status_date_period'] = df.reservation_status_date .dt.to_period("min")
# отобразить столбец reservation_status_date_period
df.reservation_status_date_period

C:\Users\skovalchuk\.conda\envs\levelup_ds\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

0         2015-07-31 05:00
1         2015-07-31 05:00
2         2015-08-01 05:00
3         2015-08-01 05:00
4         2015-08-02 05:00
                ...
119385    2017-10-06 05:00
119386    2017-10-07 05:00
119387    2017-10-07 05:00
119388    2017-10-07 05:00
119389    2017-10-07 05:00
Name: reservation_status_date_period, Length: 119390, dtype: period[T]

In [50]:
# обавить 4 часа к каждому элементу столбца reservation_status_date_period
df.reservation_status_date_period = df.reservation_status_date_period + pd.Timedelta("4 hours")
# отобразить столбец reservation_status_date_period
df.reservation_status_date_period

0         2015-07-31 13:55
1         2015-07-31 13:55
2         2015-08-01 13:55
3         2015-08-01 13:55
4         2015-08-02 13:55
                ...
119385    2017-10-06 13:55
119386    2017-10-07 13:55
119387    2017-10-07 13:55
119388    2017-10-07 13:55
119389    2017-10-07 13:55
Name: reservation_status_date_period, Length: 119390, dtype: period[T]

In [51]:
# обавить timedelta равную 55 минут к каждому элементу столбца reservation_status_date_period
df.reservation_status_date_period = df.reservation_status_date_period + pd.Timedelta("55 minutes")
# отобразить столбец reservation_status_date_period
df.reservation_status_date_period

0         2015-07-31 14:50
1         2015-07-31 14:50
2         2015-08-01 14:50
3         2015-08-01 14:50
4         2015-08-02 14:50
                ...
119385    2017-10-06 14:50
119386    2017-10-07 14:50
119387    2017-10-07 14:50
119388    2017-10-07 14:50
119389    2017-10-07 14:50
Name: reservation_status_date_period, Length: 119390, dtype: period[T]